* {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
tr,
td {
  border: 1px solid rgb(112, 112, 112);
}
thead {
  background: #95a5a6;
}
table {
  width: 100%;
}
td {
  padding: 10px;
  text-align: center;
}
nav {
  display: flex;
  background: #34495e;
  margin-bottom: 20px;
}
nav li a {
  display: inline-block;
  font-size: 18px;
  color: #ecf0f1;
  padding: 20px 20px;
}
nav li a:hover {
  background: #ff5252;
}
.to-home {
  display: inline-block;
  font-size: 18px;
  color: #ecf0f1;
  background: #34495e;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.to-home:hover {
  background: #ff5252;
}
